<script type="text/javascript" src="../static/scripts/queryHelpers.js"></script>
<div>
    <h1>Customer Information</h1>
    <label for="cust-fname">First Name</label>
    <input id="cust-fname" type="text" />
    <label for="cust-lname">Last Name</label>
    <input id="cust-lname" type="text" />
    <label for="cust-bday">Birth date</label>
    <input id="cust-bday" type="text" />
    <label for="cust-street">Street</label>
    <input id="cust-street" type="text"/>
    <label for="cust-city">City</label>
    <input id="cust-city" type="text"/>
    <label for="cust-state">State</label>
    <input id="cust-state" type="text"/>
    <hr>
    <button onclick="addCustomer()">Rent</button>
</div>