<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/navbar.css">
  <script type="text/javascript" src="/static/scripts/agent_navigation_template.js"></script>
  <script type="text/javascript" src="/static/scripts/agent_cookie.js"></script>
</head>

<body>
  <agent-nav-bar></agent-nav-bar>
  <h1>Welcome Agent</h1>
  <div>
    This is the agent portal where you can make changes to the inventory.
  </div>
</body>

</html>
