<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/scripts/queryHelpers.js"></script>
    <script type="text/javascript" src="/static/scripts/customer_navigation_template.js"></script>
    <link rel="stylesheet" href="/static/styles/navbar.css">
</head>

<body>
    <customer-nav-bar></customer-nav-bar>
    <div class='div_outer'>
        <table style="width: 100%;">
            <tr>
                {% for column_name in column_names: %}
                <th>{{column_name}}</th>
                {% endfor %}
            </tr>
            {% for row in rows: %}
            <tr>
                {% for item in row: %}
                <td style="text-align:center">{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <br />
    <input id="car_vin" placeholder="VIN">
    <input id="car_name" placeholder="Type">
    <input id="car_make" placeholder="Make">
    <input id="car_model" placeholder="Model">
    <input id="car_year" placeholder="Year">
    <input id="car_acc" placeholder="Accidents">
    <input id="car_seats" placeholder="Seats">
    <input id="car_price" placeholder="Hourly Rate Maximum">
    <select id="car_avail">
        <option disabled>Avalibility</option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <input id="car_rate" placeholder="Rating">
    <button onclick="queryCars()" id="car-button">Cars</button>
    <br />

</body>

</html>
