<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/scripts/queryHelpers.js"></script>
    <script type="text/javascript" src="/static/scripts/customer_navigation_template.js"></script>
    <link rel="stylesheet" href="/static/styles/navbar.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
    <customer-nav-bar></customer-nav-bar>
    <div class='container'>
        <h2>Search for any car in the database.</h2>
        <p>Any number of fields can be populated, it will query by all non-empty fields. Availability must be true/false.</p>
        <ul>
            <li>VIN: Search for a car by VIN (case insensitive, exact match)</li>
            <li>Type: Search for a car by type (case insensitive, exact match)</li>
            <li>Make: Search for a car by make (case insensitive, exact match)</li>
            <li>Model: Search for a car by model (case insensitive, exact match)</li>
            <li>Year: Search for a car by year</li>
            <li>Accidents: Search for a car with accidents <= the entered value</li>
            <li>Num seats: Search for a car with a certain number of seats (exact match)</li>
            <li>Hourly rate maximum: Search for a car with hourly rate <= the entered value</li>
            <li>Rating: Search for a car with average rating >= the entered value</li>
        </ul>
    </div>
    <div class='container'>
        <div class='indexinput'>
            <label for="car_vin">Vin #</label>
            <input id="car_vin" placeholder="VIN">
            <label for="car_name">Car Type</label>
            <select id="car_name">
                <option value="ALL">All Types</option>
                <option value="SUV">SUV</option>
                <option value="Sedan">Sedan</option>
                <option value="Coupe">Coupe</option>
                <option value="Mini Van">Mini Van</option>
            </select>
            <label for="car_make">Make</label>
            <input id="car_make" placeholder="Make">
            <label for="car_model">Model</label>
            <input id="car_model" placeholder="Model">
            <label for="car_year">Year</label>
            <input id="car_year" placeholder="Year" type="number">
            <label for="car_acc"># of Accidents</label>
            <input id="car_acc" placeholder="Accidents" type="number">
            <label for="car_seats"># of Seats</label>
            <input id="car_seats" placeholder="Seats" type="number">
            <label for="car_price">Rental Price</label>
            <input id="car_price" placeholder="Hourly Rate Maximum" type="number">
            <label for="car_avail">Available</label>
            <select id="car_avail">
                <option disabled>Avalibility</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <label for="car_rate">Rating</label>
            <input id="car_rate" placeholder="Rating" type="number">
            <hr>
            <button onclick="queryCars()" id="car-button">Cars</button>
        </div>
    </div>
    <div class="container">
        <div class='div_outer'>
            <table style="width: 100%;">
                <tr>
                    {% for column_name in column_names: %}
                    <th>{{column_name}}</th>
                    {% endfor %}
                </tr>
                {% for row in rows: %}
                <tr>
                    {% for item in row: %}
                    <td style="text-align:center">{{item}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>

</html>