<script type="text/javascript" src="/static/scripts/agent_navigation_template.js"></script>
<link rel="stylesheet" href="/static/styles/navbar.css">
<link rel="stylesheet" href="/static/styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
<agent-nav-bar></agent-nav-bar>
<div class="container">
  <h1>Rental Confirmation</h1>
  <hr>
  <div>Hello Agent</div>
  <div>
    The rental for {{customer_name}} was a success. Their rental number is: {{rental_num}}.<br>
    Please have the customer, and yourself, save this number for future references.
  </div>
</div>
