<script type="text/javascript" src="/static/scripts/queryHelpers.js"></script>
<script type="text/javascript" src="/static/scripts/agent_navigation_template.js"></script>
<script type="text/javascript" src="/static/scripts/agent_cookie.js"></script>
<link rel="stylesheet" href="/static/styles/navbar.css">
<agent-nav-bar></agent-nav-bar>
<div>
    <h1>Update Availability</h1>
    <label for="car-vin">VIN</label>
    <input id="car-vin" type="text" />
    <button onclick="updateAvailability('available')">Make Available</button>
    <button onclick="updateAvailability('unavailable')">Make Unavailable</button>
</div>
